* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*::before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  width: 100%;
  height: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style-type: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-style: inherit;
  font-weight: 400;
}

/* ----------------------------------------- */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

.wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: calc(100% - 10px);
}


/* ------------------------- header -------------------------------- */


.header {
  position: relative;
  background-color: transparent;
  z-index: 2;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.152);
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1300px;
  margin: 0 auto;
  padding: 10px;
}

.header__title {
  font-size: 1.5rem;
  font-weight: 600;
}

.header__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 1300px;
  padding-top: 20px;
}

.header__logo {
  display: flex;
  align-items: center;
  gap: 30px;
}

.header__navigation {
  border-radius: 15px;
  border: 1px solid #282828;

  width: 800px;
  padding: 20px 0;
}

.navigation__list {
  display: flex;
  justify-content: space-between;
}

.list__link a {
  border-radius: 15px;
  padding: 19px;
  letter-spacing: .1rem;
  font-weight: 100;
  color: #282828;
}

.active {
  border-radius: 15px;
  box-shadow: 3px 0px 5px rgba(0, 0, 0, 0.279);

}

.list__link a:hover {
  border-radius: 15px;
  box-shadow: 3px 0px 5px rgba(0, 0, 0, 0.279);
}

.header__language {
  display: flex;
  align-items: center;
  color: black;
}

.language__selector {
  position: relative;
  display: inline-block;
  cursor: pointer;
  margin: 0 10px;
}

.header__language img {
  cursor: pointer;
}

.language__list {
  display: none;
  position: absolute;
  left: -20px;
  z-index: 1;
  background-color: transparent;
  width: 160px;
}

.selected__language {
  background-color: transparent;
  color: hsl(0, 0%, 0%);
}

.language__item {
  padding: 1rem;
}




/* ----------------------------- sign up section -------------------------------- */


.signUp__form {
  padding: 20px;
}

.form__container {
  width: 1300px;
  display: flex;
  justify-content: center;
}

.img__block {
  position: relative;
  box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.288);
  border-radius: 30px 0 0 30px;
}

.logo {
  position: absolute;
  top: 20px;
  left: 20px;
}

.form__block {
  width: 700px;
  box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.288);
  border-radius: 0 30px 30px 0;
}

.block__header {
  padding: 15px 30px 40px 30px;
  display: flex;
  justify-content: space-between;
}

.header__button {
  color: #145EB6;
  background-color: transparent;
  text-align: center;
  font-size: 1rem;
  border-radius: 5px;
  border: 1px solid #145EB6;
  padding: 8px 16px;
  transition: background-color .3s ease;
}

.header__button:hover {
  background-color: #145EB6;
  color: white;
}

.block__body {
  color: #282828;
  width: 450px;
  margin: 0 auto;
  position: relative;
}

.body__title {
  font-size: 2.2rem;
  font-weight: 400;
}

.body__subtitle {
  font-size: 1.2rem;
  font-weight: 400;
  margin: 15px 0;
}

.body__subtitle a {
  color: #145EB6;
}

.info__message {
  padding: 13px 30px;
  border-radius: 5px;
  border: 1px solid #D4D4D4;
  background: #EDEDED;
  font-size: .8rem;
  margin-bottom: 20px;
}

.message {
  margin-bottom: 10px;
}

.message__block {
  display: flex;
  padding: 5px;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  background: #FFF;
}

.message__block p {
  margin: 0 10px;
}

.phone__block {
  width: 100%;
  margin: 20px 0;
}

#phone {
  height: 50px;
  width: 100%;
  border-radius: 10px;
  border: #A7A7A7 solid 1px;
}

.signUp__button {
  color: #ffffff;
  background-color: #145EB6;
  text-align: center;
  font-size: 1rem;
  border-radius: 5px;
  padding: 8px 16px;
  position: absolute;
  width: 100%;
  bottom: 80px;
}

.iti {
  width: 100%;
  color: #000;
}

.iti__flag {
  background-image: url("../img/main/flags.png");
}

@media (-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi) {
  .iti__flag {
    background-image: url("../img/main/flags@2x.png");
  }
}

.capcha {
  display: flex;
  justify-content: center;
  margin: 10px 0 50px 0;
}

hr {
  border: none;
  border-top: 1px solid #4b4b4b62;
  color: #515151a9;
  overflow: visible;
  text-align: center;
  height: 4px;
}

hr:after {
  content: 'або';
  background: #fff;
  padding: 0 4px;
  position: relative;
  top: -7px;
}

.social__networks {
  margin: 10px;
  display: flex;
  justify-content: center;
  gap: 20px;
}



/* -------------------------------------------- sing In section ------------------------------- */


.form input {
  color: #A7A7A7;
  font-size: 1.2rem;
  border-radius: 10px;
  width: 450px;
  border: 1px solid #A7A7A7;
  padding: 13px 20px;
  margin-bottom: 20px;
}

.form__group {
  position: relative;
}

.form__group img {
  position: absolute;
  top: 10px;
  right: 20px;
}

.form__group .capcha {
  margin: 0px 0px 30px 0px;
}

.checkbox__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  margin-bottom: 10px;
}

.checkbox__container a {
  color: rgba(0, 20, 94, 0.71);
  font-weight: 500;
}

.checkbox {
  opacity: 0;
  position: absolute;
}

.checkbox__label {
  position: relative;
  padding-left: 30px;
  cursor: pointer;
  font-size: 1.2rem;
}

.checkbox__label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 15px;
  height: 15px;
  background-color: hsl(213, 99%, 44%);
}

.checkbox:checked+.checkbox__label:before {
  background-color: hsl(213, 100%, 42%);
}

.checkbox__label:after {
  content: '\2713';
  font-size: 1rem;
  position: absolute;
  left: 3px;
  top: 0;
  color: hsl(0, 0%, 100%);
  visibility: hidden;
}

.checkbox:checked+.checkbox__label:after {
  visibility: visible;
  color: hsl(0, 0%, 100%);
}

.block__footer {
  border-top: 1px solid #A7A7A7;
  padding: 14px 30px;
  color: rgba(0, 20, 94, 0.71);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.footer__button {
  color: white;
  padding: 10px 30px;
  border-radius: 5px;
  background: #145EB6;
  transition: background-color .3s ease;
}

.footer__button:hover {
  background-color: #1973e1;
}

.block__footer a {
  color: rgba(255, 255, 255, 0.71);
  font-weight: 500;
}

/* ------------------------ footer ---------------------------- */

.footer {
  border-top: 1px solid #28282894;
  background-color: transparent;
}

.footer__container {
  width: 1300px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
}


.footer__text {
  color: #282828;
  font-size: 1.1rem;
  font-weight: 400;
  width: 200px;
}

.footer__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  width: 280px;
}

.footer__social__networks {
  display: flex;
  align-items: center;
  gap: 20px;
}

.footer small {
  font-size: .8rem;
  color: #000000c4;
  letter-spacing: .1rem;
}
